
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Here you can manage all corses. Create new ones, edit them and delete</p>
        <p>@Html.ActionLink("Go to corses overview", "Index", "CourseManagement", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Userlist</h2>
        <p>Here you can manage list of user. Create users, view assigned role and assign another</p>
        <p>@Html.ActionLink("Go to user overview", "Index", "UserManagement", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>