
@{
    ViewBag.Title = "Student";
}

<h2>Welcome</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>You dont seem to assigned any courses. You can register for some corses yourself on the site</p>
        <p>@Html.ActionLink("View courses", "Index", "Course", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>