@{
    ViewBag.Title = "About Mooshak";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    //<input type="Submit" class="btn btn-primary" value="HakonHTest" />
}

<ol class="breadcrumb">
    <li><a href="Index">Home</a></li>
    <li class="active">About</li>
</ol>

<p>
    Welcome to Mooshak, Mooshak is a system for submitting a programming code online and getting a validation from correct output.
</p>
<p>
    Mooshak automatically compiles programs that are submitted and answers questions about problems and tracking error codes.
</p>