@model IEnumerable<WebApplication1.Models.Entities.Assignment >
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-5">
    @foreach (var item in Model)
    {
        <a class="media-left" href="@Url.Action("Details", "Assignments", new { id = item.ID })"> @Html.DisplayFor(modelItem => item.Title) </a>
        <br />
    }

    @if (User.IsInRole("Teacher") == true)
    {
       <a href="">Add project</a>
    }
</div>

