@model IEnumerable<Mooshak2.Models.ViewModels.AssignmentViewModel>
@{
    ViewBag.Title = "Assignments";
}

<h2>Assignments</h2>

<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li class="active">Assignments</li>
</ol>

<div class="row">

    <div class="col-md-12">
        @foreach (var item in Model)
        {
            @Html.ActionLink(@item.Title.Title, "../Assignments/Index", new { @class = "btn btn-default" })
        }

        @if (User.IsInRole("Teacher") == true)
        {
            <a href="">Add project</a>
        }
    </div>
</div>