@model IEnumerable<Mooshak2.Models.ViewModels.TeacherViewModel>
@{
    ViewBag.Title = "Teachers";
}

<h2>Teachers</h2>
<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li class="active">Students</li>
</ol>

<div class="row">

    <div class="col-md-12">
            <div class="alert alert-info">You have no grades in this course</div>
    </div>



</div>