@model IEnumerable<Mooshak2.Models.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li><a href="~/Course">Course</a></li>
    <li class="active">Students</li>
</ol>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div>@item.Name.UserName</div>
        }

    </div>



</div>