@model IEnumerable<Mooshak2.Models.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<ol class="breadcrumb">
    <li><a href="~/Home">Home</a></li>
    <li class="active">Students</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item.Name.UserName</li>
            }
        </ul>
    </div>
</div>