@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm())
{
    <input type="Submit" class="btn btn-primary" value="HakonHTest" />
}
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
