@model IEnumerable<Mooshak2.Models.Entities.Course>

@{
    ViewBag.Title = "Index";
}

<div class="mainContent body-content col-md-¨4">
    <h2>Teacher</h2>
    @foreach (var item in Model)
    {
        <input type="button" class="btn btn-default menuButton" value="@Html.DisplayFor(modelItem => item.Title)" />
    }
</div>
