@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<ol class="breadcrumb">
    <li><a href="Index">Home</a></li>
    <li class="active">Contact</li>
</ol>

<address>
    Háskólinn í Reykjavík<br />
    Menntavegi 1, 101 Reykjavík<br />
    <abbr title="Phone">Phone Number:</abbr>
    599 6200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mooshak_support@ru.is">Mooshak_Support@ru.is</a><br />
    <strong>Marketing:</strong> <a href="mailto:mooshak_marketing@ru.is">Mooshak_Marketing@ru.is</a>
</address>