@using Microsoft.AspNet.Identity


<div class="mainContent body-content col-md-¨4">
    <div class="col-md-6">
        <h3 class="text-danger"> Error</h3>
        <p class="alert">No ID to search for!</p>
    </div>
</div>
