
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
}

<h2>Assingments</h2>

<div class="mainContent body-content col-md-¨4">
    <div class="col-md-6">
        <p class="alert alert-info">There are no assignments in this course!</p>
    </div>
</div>
