@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
}

<h2>Welcome back, @User.Identity.GetUserName()</h2>

<div class="mainContent body-content col-md-¨4">
    <div class="col-md-6">
        <p>You are not assigned to a course</p>
    </div>
</div>
