@using Microsoft.AspNet.Identity

<h2>Teachers</h2>

<div class="mainContent body-content col-md-¨4">
    <div class="col-md-6">
        <p class="alert alert-info">No teacher assigned to course!</p>
    </div>
</div>
