@model IEnumerable<Mooshak2.Models.Entities.Course>
@{
    ViewBag.Title = "Course";
}

<h2>Course</h2>

<!--Html.ActionLink("Assignments \u00BB", "Assignments", "Teacher/Course", routeValues: null, htmlAttributes: new { ATT class = "btn btn-default menuButton" })-->
<input type="button" class="btn btn-default menuButton" value="Assignments" />
<input type="button" class="btn btn-default menuButton" value="Students in course" />
<input type="button" class="btn btn-default menuButton" value="Course teachers" />
@Html.ActionLink("Assignments", "Index", "Assignments", new { @class = "btn btn-default menuButton" }, null)