@model Mooshak2.Models.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "Index";
}

<div class="mainContent body-content col-md-¨4">
    <h2>Teacher</h2>
    @foreach (var item in Model.Courses)
    {
        @Html.ActionLink(item.Title + "\u00BB", "../Course/ID", new { id = item.CourseID }, new { @class = "btn btn-default menuButton" })
    }
</div>
