@model IEnumerable<WebApplication1.Models.Entities.Course>

@{
    ViewBag.Title = "Index";
}

<div class="mainContent body-content col-md-¨4">
    <h2>Teacher</h2>
    @foreach (var item in Model)
    { 
        @Html.ActionLink(item.Title + "\u00BB", item.Title, "Teacher/Course", routeValues: null, htmlAttributes: new { @class = "btn btn-default menuButton" })
    }
</div>
