@model Mooshak2.Models.Entities.Course
@{
    ViewBag.Title = "Course";
}

<h2>@Model.Title</h2>

<input type="button" class="btn btn-default menuButton" value="Assignment" />
<input type="button" class="btn btn-default menuButton" value="My Grade" />
<input type="button" class="btn btn-default menuButton" value="Students in course" />
<input type="button" class="btn btn-default menuButton" value="My Teacher" />